#root {
  font-size: 16px;
}

@media screen and (min-width: 1500px) and (max-width: 2549px) {
  #root {
    font-size: 18px;
  }
}

@media screen and (min-width: 2550px) {
  #root {
    font-size: 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

input:active,
input:focus {
  border: #eee;
  outline: none;
}

p {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button:active {
  outline: none;
}
